{% extends 'base/base.html' %}

{% block content %}
<!-- general form elements disabled -->

          <div class="box box-warning">
            <div class="box-header with-border">
              <h3 class="box-title">Elementos Generales</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
           <form method ="post">
             {% csrf_token %}
             {{ form.as_p }}
             <button type="submit">Guardar</button>
           </form>

            </div>
          </div>

                {% endblock %}