{% extends 'base/base.html' %}


{% block content %}
  <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
         <div class="box">
            <div class="box-header">
              <h3 class="box-title">Tabla que pidio el jefe</h3>
              <a type="button" class="btn btn-primary" href=" {% url 'usuario_crear' %}">Añadir</a>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table id="example1" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>nombre</th>
                  <th>apellido_paterno</th>
                  <th>apellido_materno</th>
                  <th>sexo</th>

                  <th>correo</th>
                  <th>telefono</th>

                  

                 
                </tr>
                </thead>
                <tbody>
                  {% if object_list %}
                  {% for usuario in object_list %}
                <tr>
                  <td>{{usuario.nombre}}</td>
                  <td>{{usuario.url}}</td>
                  <td>{{usuario.tipo}}</td>

                  <td>{{usuario.usuario}} {{usuario.usuario.apellido_paterno}}</td>
                  <td> <a class="btn btn-primary" href="{% url 'usuario_editar' usuario.id %}">Editar</a>  <a class="btn btn-primary" href="{% url 'usuario_eliminar' usuario.id %}">Eliminar</a></td>                
                 
                 
                    


                </tr>
                {% endfor %}
                
                {% else %}
                <h1> No hay registro de usuario</h1>

                {% endif %}
                
              </tbody>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>

  {% endblock %}